/* FOOTER */
.footer-container {
display: flex;
justify-content: space-around;
padding: 30px;
background-color: #2e7d32;
color: white;
}

/* SECTIONS */
.footer-section-1,
.footer-section-2,
.footer-section-3,
gap: 15px;
width: 25%;
}

/* LOGO */
.logo-container {
display: flex;
align-items: center;
font-size: 22px;
}

/* SOCIAL ICONS */
.social-icon-container {
display: flex;
gap: 15px;
cursor: pointer;
}

/* LINKS */
.menu-subitem {
text-decoration: none;
color: white;
font-size: 14px;
}

ul {
list-style: none;
padding: 0;
}

/* CONTACT */
.contact-item {
display: flex;
align-items: center;
gap: 10px;
}

/* RESPONSIVE */
@media (max-width: 768px) {

.footer-container {